.sc-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc-upload-container {
    width: 408px;
    height: 208px;
    margin: 20px 0px;
    padding: 0px 16px;
}

.sc-upload-img {
    width: 408px;
    height: 84px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
}

.sc-name-text {
    color: #6A7480;
    font-family: 'Whitney Semibold Regular';
    font-size: 12px;
    margin: 32px 0px 8px;
}

.sc-server-name-input {
    width: 384px;
    height: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(79,84,92,0.3);
    color: #2e3338;
}

.sc-server-name-input:focus {
    border: 1px solid rgb(97, 159, 221);
    outline: none;
}

.sc-server-name-input:hover:not(:focus) {
    border: 1px solid rgb(160,196,231);
    outline: none;
}

.sc-guideline {
    color: #747f8d;
    font-family: 'Whitney Book Regular';
    font-size: 12px;
    margin-top: 8px;
    padding-bottom: 4px;
}

.sc-submit-container {
    width: 408px;
    height: 38px;
    padding: 16px;
    background-color: #f6f6f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
}

.sc-back {
    width: 28px;
    height: 34px;
    padding: 2px 4px;
    font-family: 'Whitney Semibold Regular';
    font-size: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.sc-create-btn {
    width: 96px;
    height: 38px;
    // padding: 2px 16px;
    background-color: #7289da;
    outline: none;
    border: none;
     font: {
        size: 14px;
        family: 'Whitney Medium';
    }
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.sc-create-btn:hover {
    background-color: #687BC4;
}

#upload-server-img {
    display: none;
}

.add-server-img {
    cursor: pointer;
}

.add-server-img-2 {
    cursor: pointer;
    border-radius: 48px;
}