.home-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.conversation-index-container {
    width: 264px;
    height: 100%;
    background-color: #2E3137;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 8px;
}

.friend-list-container {
    height: 100%;
    width: 100%;
    background-color: #363A3E;
    display: flex;
    flex-direction: column;
}

.friend-header {
    width: calc(100vw - 240px - 80px);
    height: 48px;
    padding-left: 8px;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: var(--bot-shadow);
    --bot-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: #37393F;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.vertical-separator {
    width: 1px;
    height: 24px;
    margin: 0px 8px;
    background-color: #FFFFFF0F;
}

.friend-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-header-icon {
   padding-left: 8px;
   filter: brightness(.8) 
}

.friend-container {
    height: 100%;
    width: 100%;
    background-color: #37393F;
    display: flex;
    flex-direction: row;
}
.friend-box{
    height: 100%;
    width: 89%;
    background-color: #37393F;
}

.logout-btn {
    position: absolute;
    bottom: 10px;
    left: 5px;
} 

.friend-main-container {
    height: 100%;
    background-color: #37393F;
    /* border: 1px yellow solid; */
    display: flex;
    flex-direction: column;
}

.active-home-item {
   
    width: 8px;
    height: 40px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 16px;
    margin-left: -4px;
    border-radius: 20px;
} 

.friend-label-name {
    font: {
        family: "Whitney Medium";
        size: 16px;
    }
    padding: 2px 8px;
    position: relative;
    bottom: 1px;
}

.friend-header-btn {
    outline: none;
    border: none;
    background: none;
    color: #b9bbbe;
    font: {
        family: "Whitney Medium";
        size: 16px;
    }
    margin: 0px 9px;
    padding: 3px 8px;
    position: relative;
    bottom: 1px;
}

.friend-header-btn:hover {
    cursor: pointer;
    background-color: rgba(79,84,92,0.16);
    border-radius: 4px;
    color: white;
}

.add-friend-header-btn {
    outline: none;
    border: none;
    background: #43b581;
    color: white;
    font: {
        family: "Whitney Medium";
        size: 16px;
    }
    margin: 0px 8px;
    padding: 3px 8px;
    border-radius: 4px;
}

.add-friend-header-btn:hover {
    cursor: pointer;
}