.channel-message-index {
    position: relative; 
    top: 55px;
}

.avatar-icon {
    height: 48px;
    width: 48px;
    display: block;
    border: none;
    border-radius: 48px;
    margin-bottom: 9px;
}