.channel-container {
    height: 100%;
    width: calc(100vw - 232px - 240px - 72px);
    background-color: #363A3E;
    /* border: 1px yellow solid; */
    display: flex;
    flex-direction: column;
}

.channel-message-header {
    width: calc(100vw - 248px - 72px);
    height: 12px;
    padding: 18px 0px;
    padding-left: 8px;
    color: #fff;
    font-family: 'Whitney Semibold Regular', sans-serif;
    font-size: 16px;
    box-shadow: var(--bot-shadow);
    --bot-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: #37393F;
    overflow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.mh-left {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.channel-message-container {
    height: 100%;
    width: 100%;
    background-color: #363A3E;
    display: flex;
    flex-direction: row;
}
.channel-message-box{
    height: 100%;
    width: calc(100vw - 232px - 240px - 72px);
    background-color: #37393F;
    padding: 0px 16px;
}

.server-member-list {
    height: 100%;
    width: 240px;
    position: absolute;
    right: 0px;
    background-color: #2E3137;
    z-index: 1;
   
}

.hashtag-img-header  {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

.cm-header-name {
    padding-left: 10px;
}

.mh-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mh-pin:hover, .mh-mute:hover, .mh-member:hover {
    // fill: #dcddde;
    cursor: pointer;
    filter: brightness(.2) invert(1)
}

.mh-right > img {
    margin: 0px 8px;
}

.mh-search {
    margin: 0px 8px;
    border: none;
    outline: none;
    background-color: #202225;
    color: #dcddde;
    padding: 0px 5px;
    height: 24px;
    width: 144px;
    border-radius: 3px;
    font-family: "Whitney Medium";
}

.mh-search:focus {
    width: 240px;
}

.mh-magnify {
    position: absolute;
    right: 45px;
}


.chat-message {
    width: calc(100vw - 232px - 240px - 177px);
    height: 21px;
    padding: 11px 10px 11px 55px;
    font-family: "Whitney";
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    bottom: 24px;
    outline: none;
    border: none;
    background-color: #40444b;
    border-radius: 8px;
    color: #dcddde;
    z-index: 1;
}

.chat-attach {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 34px;
    left: 344px;
    z-index: 2;
}