
.sc-submit-container-channel {
    width: 408px;
    padding: 16px;
    background-color: #2f3136;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    position: relative;
    bottom: 133px;
}

.sc-modal-channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border-radius: 5px;
    background-color: #363A3E
}

.sc-form-channel {
    height: 150px;
}

.channel-plus-title {
    color: white;
    padding: 24px 16px 0;
    font-family: 'Whitney Bold';
    font-size: 24px;
    font-weight: 700;
}

.channel-name-input {
    width: 384px;
    height: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    color: #fff;
    background-color: rgba(0,0,0,0.1);
}

.channel-name-input:focus {
    border: 1px solid rgb(97, 159, 221);
    outline: none;
}

.channel-name-input:hover:not(:focus) {
    border: 1px solid rgba(0,0,0,0.6);
    outline: none;
}

.c-name-text {
    color: #dcddde;
    font-family: 'Whitney Semibold Regular';
    font-size: 12px;
    margin: 32px 0px 8px;
}

.c-create-btn {
    width: 123px;
    height: 38px;
    // padding: 2px 16px;
    background-color: #7289da;
    outline: none;
    border: none;
     font: {
        size: 14px;
        family: 'Whitney Medium';
    }
    color: #fff;
    border-radius: 3px;
   
}

.c-create-btn:hover {
    background-color: #687BC4;
    cursor: pointer;
}

.in-text-channels {
    font-family: 'Whitney Book Regular';
    font-size: 12px;
    color: #b9bbbe; 
    margin-top: 8px;
}

.channel-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    color: white;
}

.channel-close-icon:hover {
    cursor: pointer;
}

.channel-category {
    font-family: 'Whitney Book Regular';
    font-size: 10px;
    color: #b9bbbe;
    padding-top: 3px;
    padding-left: 2px;
    
}

.cs-right-settings-container {
    padding: 60px 40px 80px;
}

.cs-right-overview {
    width: 660px;
    font-size: 16px;
    font-family: "Whitney Semibold Regular";
    color: white;
    padding-bottom: 25px;
}

.cs-right-channel-name {
    font-family: "Whitney Semibold Regular";
    font-size: 12px;
    color: #8e9297;
    margin-bottom: 10px;
}

.cs-right-cn-input {
    width: 660px;
    background-color: #303339;
    border: 0.5px solid #1d1f23;
    padding: 10px;
    border-radius: 3px;
    font-family: "Whitney Medium";
    font-size: 14px;
    margin-bottom: 22px;
    color:#d3d4d5;
}

.cs-right-ct-input {
    width: 660px;
    height: 85px;
    background-color: #303339;
    border: 0.5px solid #1d1f23;
    padding: 10px;
    border-radius: 3px;
    font-family: "Whitney Medium";
    font-size: 14px;
    margin-bottom: 22px;
    color:  #d3d4d5;
    resize: none;
    outline: none;
    overflow: auto;
    box-shadow: none;
}

.save-inactive {
    visibility: hidden;
}

.c-save-changes-container {
    display: flex;
    flex-direction: row;
    width: 674px;
    height: 30px;
    padding: 10px 10px 10px 16px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
    background-color: rgba(32, 34, 37, 0.9);
    position: absolute;
    bottom: 20px;
    align-items: center;
}

.c-save-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    // width: 180px;
}
.unsaved-changes-text {
    font-family: "Whitney Medium";
    font-size: 16px;
    color: #fff;
    width: 450px;
    margin-right: 10px;

}

.c-save-reset {
    width: 60px;
    height: 32px;
    font-family: "Whitney Medium";
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
    padding: 2px 0px;
    border: none;
    outline: none;
    background: none;
}

.c-save-reset:hover {
    text-decoration: underline;
    cursor: pointer;
}

.c-save-changes {
    font-family: "Whitney Medium";
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
    padding: 2px 16px;
    width: 124px;
    height: 32px;
    background-color: #43b581;
    border-radius: 3px;
    border: none;
    outline: none;
}

.c-save-changes:hover {
    cursor: pointer;
    background-color: #3CA374;
}

.cs-right-cn-input:hover, .cs-right-ct-input:hover {
    border-color: black;
    outline: none;
}

.cs-right-cn-input:focus, .cs-right-ct-input:focus {
    border-color: #7289DA;
    outline: none !important;; 
}
