.server-icon {
    height: 48px;
    width: 48px;
    display: block;
    border: none;
    border-radius: 48px;
    // margin-bottom: 9px;
    
}

.server-index-item-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 12px;
    width: 60px;
    padding-left: 12px;
    align-items: center;
    margin-bottom: 10px;
}

.server-icon:hover {
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.server-icon-name {
    visibility: hidden;
}

.server-index-item:hover > .server-icon-name {
    visibility: visible;
}

.active-server-item {
    visibility: hidden;
    width: 8px;
    height: 40px;
    background-color: white;
    position: absolute;
    left: 0px;
    margin-left: -4px;
    border-radius: 20px;

}

.active-server {
    visibility: visible;
}

.active-server-icon {
    border-radius: 15px;
}

.no-photo {
    display: block;
    border: none;
    height: 48px;
    width: 48px;
    background-color: #36393f;
    border-radius: 48px;
    align-items: center;
    outline: none;
    color: #dcddde;
    font: {
        family: "Whitney Medium";
        size: 18px;
    }
}

.no-photo:hover {
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    background-color: #7289DA;
}


.active-server-icon2 {
    border-radius: 15px;
    background-color: #7289DA;
}
