.server-icon {
    height: 48px;
    width: 48px;
    display: block;
    border: none;
    border-radius: 48px;
    margin-bottom: 11px;
    position: relative;
    top: 12px;
}

.server-icon:hover {
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.server-icon-name {
    visibility: hidden;
}

.server-index-item:hover > .server-icon-name {
    visibility: visible;
}