.server-icon {
    height: 48px;
    width: 48px;
    display: block;
    border: none;
    border-radius: 48px;
    margin-bottom: 11px;
    position: relative;
    top: 12px;
}

.server-icon:hover {
    cursor: pointer;
    border-radius: 15px;
    transition: border-radius 0.1s ease-in-out;
}